# Dependency directories
/node_modules/
/vendor/bundle/
/.bundle/
/pkg/

# RubyGems built gems and logs
*.gem
*.log

# Temporary and Heartbeat files
/tmp/
/tmp/eksa_hb/
.rb-stats

# Database files
/db/*.sqlite3
/db/*.sqlite3-journal

# IDE, Editor and OS files
.DS_Store
.vscode/
.idea/
.ruby-lsp/
.serverrc
*.swp
*~

# Sensitive information
.env

# Coverage and Docs
/coverage/
/rdoc/